<section id='add' class='container'>
  <div class="review">
    <form action='/add'>
        <h3>Please add a review:</h3>
        <input type="radio" id="thumbsUp" name="thumbsUp" value="thumbsUp">
        <label for="thumbsUp">Thumbs Up</label>
        <input type="radio" id="thumbsDown" name="thumbsDown" value="thumbsDown">
        <label for="thumbsDown">ThumbsDown<label>
        <input class='submit' type="submit" value="Submit">
    </form>
</div>


  
</section>