 <section class="search-wrap">
    <h1>Find A Movie</h1>
    <form action="reviews/search" class="search-form">
      {{!-- <i class="fas fa-search"></i> --}}
      <input type="search" name="title" placeholder="Search for movie by title...">
      <input type="submit" value='Find Movie'>
    </form>
  </section>