 <section class="search-wrap">
    <h1>Find A Movie</h1>
      <form action="/movies" class="search-form"> 
      <input class="search" type="search" name="title" placeholder="Search for movie by title...">
      <input class="submit"type="submit" value="Search">
    </form>
  </section>